html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #1e1e1e;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit: contain;
  width: 16rem;
  height: 7rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.input {
  width: 14rem;
  padding: 0.625rem;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  border-bottom: 0.06rem solid #eb3f3f;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

button {
  width: 15.2rem;
  border: 0.06rem solid #eb3f3f;
  background-color: #eb3f3f;
  color: #ffffff;
  padding: 0.635rem;
  font-size: 1rem;
  cursor: pointer;
}

button:focus,
button:hover {
  outline: none;
  box-shadow: 2px 2px 5px 0 #eb3f3f33;
}

button:disabled {
  cursor: not-allowed;
  background-color: #6d1b1b;
  border: none;
}

.error {
  width: 14rem;
  padding: 0.635rem;
  margin: 1rem;
  background-color: #eb3f3f;
  color: #ffffff;
  animation: animate 0.5s linear;
}

.error-rm,
.success-rm {
  transition: 0.3s ease-out;
}

.success {
  padding: 1rem;
  margin: 2rem;
  background-color: #3a3a3a;
  color: #ffffff;
  box-shadow: 4px 4px 4px 0 #00000033;
  font-size: 0.8rem;
  animation: animate 0.5s linear;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shortLink {
  text-decoration: none;
  color: #eb3f3f;
}

.close {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.not-found {
  color: #eb3f3f;
}
