html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100%;
  background-color: #1e1e1e;
}

header {
  margin: auto 0;
}

main {
  flex: 1 1 0;
  flex-direction: column;
  background-color: #eb3f3f;
  color: #ffffff;
}

.logo {
  object-fit: cover;
  width: 380px;
  height: 380px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.main-container {
  display: flex;
  background-color: #ffffff;
  color: #1e1e1e;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.hero-content {
  flex: 1 1 0;
  padding: 30px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.rectangle {
  width: 70px;
  height: 10px;
  background-color: #eb3f3f;
}

.hero-content h1 {
  margin-top: 0;
}

.hero-content p {
  margin-bottom: 2rem;
  color: #cecece;
  font-size: 12px;
}

.hero-content ul {
  padding: 0 10px 10px 10px;
  color: #cecece;
  font-size: 12px;
}

.hero-content span {
  font-size: 11px;
  color: #cecece;
}

.tips {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.form {
  flex: 1 1 0;
  flex-direction: column;
  padding: 30px;
  margin: auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
